
:root{
    /* --main-color:#d3ad7f; */
    /* --dark: #49281a; */
    /* --light: #dfb78c; */
    --main-color: #c7a17a;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.2);
    --text: #aaa;
}

*{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Jost', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    color: #fff;
}

body {
    background: var(--bg);
}

.btn {
    color: #fff;
    font-size: .65rem;
    padding: .6rem 1.4rem .4rem 1.7rem;
    margin: 0;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
}

.btn-primary {
    background: var(--main-color);
    border: .1rem solid var(--main-color);
}

.btn-secondary {
    background: rgba(255,255,255,.2);   
    border: var(--border);
    margin-left: 1rem;
}

.btn:hover {
    letter-spacing: 1.5px;
    cursor: pointer;
}

section {
    padding: 4rem 8rem;
}

h2 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 3rem;

}



.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('./images/home-img.jpeg');
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
}

.home > div {
    max-width: 40%;

}

.home .btn-box {
    width: 100% !important;
}

.home h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 100;
}

.home p {
    color: var(--text);
    margin: 1rem 0;
}

.home .social {
    font-size: .8rem;
    font-weight: 600;
    margin-top: 5rem;
    text-transform: uppercase;
}

.home .social span {
    margin-right: 2rem;
}

.home .social i {
    font-size: .9rem;
    margin-right: .5rem;
}

.feature {
    display: flex;
    gap: 2rem;
}

.feature .card {
    position: relative;
    overflow: hidden;
    border: var(--border);
}

.feature .card:hover img{
    transform: scale(1.1);
}

.feature .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    display: block;
}

.feature .card .feature-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

.feature .card .feature-content span {
    font-size: 1rem;
    color: var(--main-color);
}

.feature .card .feature-content h3 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.feature .card .feature-content p {
    color: #b1b1b1;
    line-height: 1.5;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.about .about-img {
    width: 400px;
}

.about > div {
    max-width: 50%;
}

.about h2 {
    text-align: right;
    line-height: 1;
    margin-bottom: 0;
}

.about p {
    margin: 1rem 0;
    text-align: right;
    color: var(--text);
}

.about .history {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    text-transform: uppercase;
    color: var(--text);
}

.about .history span {
    font-size: .75rem;
    letter-spacing: 1px;
}

.about .history div {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.about .history div i {
    border: var(--border);
    border-radius: 50%;
    padding: 1rem;
    margin-left: 1rem;
    font-size: .7rem;
}

.about .history div i:hover {
    cursor: pointer;
}

.menu h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.menu .menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-left: 2rem;
}

.menu .menu-item {
    background: var(--black);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 5rem;
    border: var(--border);
}

.menu .menu-item img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    width: 60px;
}

.menu .menu-item h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    letter-spacing: 1px;
    /* font-size: 1.25rem; */
    margin-left: 2rem;
}

.menu .menu-item .price {
    color: var(--main-color);
    text-align: right;
}

.top-grade .grade-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-grade h2 {
    text-align: center;
}

.top-grade .grade-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.top-grade .grade-container img {
    width: 60%;
}

.top-grade .grade-container h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.top-grade .grade-container p {
    text-align: center;
    color: var(--text);
    line-height: 1.4;
}

.top-grade .counter {
    margin-top: 4rem;
    border-bottom: var(--border);
    position: relative;
    overflow: visible;
}

.top-grade .counter div {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.top-grade .counter div span {
    padding: .75rem;
    border: var(--border);
    border-radius: 50%;
    font-size: .8rem;   
    background: var(--bg);
}

.top-grade .counter div span:hover {
    cursor: default;
}

.product .heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .heading-block h2,
.product .heading-block a {
    margin: 0;
}

.product .product-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.product .product-container .product-card {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    /* border: var(--border); */
    padding: 1.5rem 3rem;
}

.product .product-container .product-card:hover {
    background: var(--black);
}

.product .product-container .product-card .product-btn-block i {
    padding: .5rem;
    border: var(--border);
    border-radius: 4px;
}

.product .product-container .product-card img {
    padding: 1.5rem 0;
    width: 120px;
    margin: auto;
}

.product .product-container .product-card .product-details {
    margin-top: 1rem;
}

.product .product-container .product-card .product-details i {
    color: var(--main-color);
    font-size: .8rem;
}

.product .product-container .product-card .product-details span {
    font-size: .8rem;
    color: var(--text);
}

.product .product-container .product-card .product-details h5 {
    font-weight: 500;
    margin: 1rem 0;
    font-size: 1rem;
}

.product .product-container .product-card h6 {
    font-size: .9rem;
    font-weight: 400;
}

.text-primary {
    color: var(--main-color);
}

.review div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review h2 {
    text-align: center;
}

.review .quote {
    margin: auto;
    display: block;
}

.review p {
    color: var(--text);
    max-width: 70%;
    margin: 2rem 0;
    text-align: center;
    line-height: 1.5;
}

.review .profile {
    width: 3rem;
    border-radius: 50%;
}

.review h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 2;
}

.review span {
    color: var(--main-color);
    font-size: .75rem;
    text-transform: uppercase;
}

.blog .heading-block h2,
.blog .heading-block a {
    margin: 0;
}

.blog .heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .blog-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3rem;
    margin-top: 3rem;
}

.blog .blog-container .blog-post img {
    width: 100%;
    height: auto;
}

.blog .blog-container .blog-post h6 {
    text-transform: uppercase;
    font-size: .75rem;
    margin-top: 2rem;
    font-weight: 400;
    color: var(--text);
}

.blog .blog-container .blog-post p {
    margin-top: 1rem;
    line-height: 1.2;
    font-size: 1.2rem;
}

.blog .blog-container .blog-post .btn-link {
    padding: 0;
    color: var(--text);
}

.top-navigate {
    position: relative;
    border-bottom: var(--border);
}

.top-navigate .top-btn {
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--bg);
}

.top-text {
    display: block;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
    font-size: .9rem;
}



/* ======================== media queries======================================================== */

@media screen and (max-width:1024px) {
    * {
        font-size: 95%;
    }

    .btn {
        line-height: 1.5;

    }

    .home h1 {
        font-size: 4rem;
        line-height: 1;
    }

    .home > div {
        max-width: 45%;
    }

    .feature .card .feature-content {
        padding: 1rem;
    }

    .about .about-img {
        width: 300px;
    }

    .product .product-container .product-card {
        padding: 1rem 2rem;
    }

    .product .product-container .product-card .product-details h5 {
        font-size: .8rem;
    }

    .product .product-container .product-card h6 {
        font-size: .8rem;
    }

    .blog .blog-container .blog-post p {
        font-size: 1rem;
    }

}

@media screen and (max-width:768px) {

    section {
        padding: 4rem 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .home > div {
        max-width: 60%;
    }

    .feature .card .feature-content h3 {
        font-size: 1rem;
    }

    .feature .card .feature-content p {
        display: none;
    }

    .about .about-img {
        width: 260px;
    }

    h2 {
        font-size: 2rem;
    }

    .about .history div {
        display: none;
    }

    .top-grade .counter div span {
        padding: 0.5rem;
        font-size: .7rem;
    }

    .product .product-container .product-card {
        padding: 1rem;
    }

    .product .product-container .product-card img {
        padding: 1.5rem 0;
        width: 100px;
        margin: auto;
    }

    .product .product-container .product-card .product-details span,
    .product .product-container .product-card .product-details i {
        font-size: .75rem;
    }

    .product .product-container .product-card .product-details h5 {
        font-size: .8rem;
    }

    .product .product-container .product-card h6 {
        font-size: .75rem;
    }

    .top-navigate .top-btn {
        padding: .5rem .7rem;
        font-size: .7rem;
    }

    .top-text {
        display: block;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--text);
        font-size: .7rem;
    }

}

@media screen and (max-width:480px) {

    * {
        font-size: 100%;
    }

    section {
        padding: 3rem 2rem;
    }

    .home {
        padding-top: 2rem;
        background-size: unset;
        background-position: fixed;
    }

    .home > div {
        max-width: 100%;
    }

    .home .social {
       display: none;
    }

    .feature {
        gap: 2rem;
        flex-direction: column;
    }

    .feature .card .feature-content p {
        display: unset;
    }

    .feature .card .feature-content span,
    .feature .card .feature-content h3 {
        font-size: 1.5rem;
    }

    .about {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .about .about-img {
        width: 100%;
    }

    .about > div {
        max-width: 100%;
        margin-top: 2rem;
    }

    .about h2 {
        text-align: left;
    }

    .about p {
        text-align: left;
    }

    .about .history {
        justify-content: flex-start;
    }

    .menu .menu-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .top-grade .grade-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .top-grade .grade-container div {
        flex-direction: column;
        border: var(--border);
        margin-bottom: 2rem;
    }

    .top-grade .counter {
        display: none;
    }

    .top-grade .grade-container h3 {
        margin: 1rem 0 .5rem 0;
    }

    .product .heading-block {
        flex-direction: column;
        align-items: center;
    }

    .product .heading-block a {
        margin-top: 1rem;
    }

    .product .product-container {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .product .product-container .product-card {
        padding: 2rem 1rem;
        border: var(--border);
        margin: 1rem 0;
    }

    .review .quote {
        width: 40px;
    }

    .review p {
        max-width: 100%;
    }

    .blog .heading-block {
        flex-direction: column;
    }

    .blog .heading-block a {
        margin-top: 1rem;
    }

    .blog .blog-container {
        grid-template-columns: repeat(1, auto);
        gap: 5rem;
    }

    .blog .blog-container .blog-post p {
        font-size: 1.1rem;
    }

}

















html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

